/*
	genere par: https://flexbox.buildwithreact.com/
	plus de details: https://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/
.nav-buttons {
	display: flex;
  	flex-wrap: wrap;
  	justify-content: space-around;
  	align-items: center;
  	align-content: center;
}